<meta name="apple-mobile-web-app-capable" content="yes"/>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button defaultHref="inicio" slot="start"></ion-back-button>
    <ion-icon slot="end" name="person"  routerDirection="root" routerLink="/gestion-viaje" ></ion-icon>
    <ion-title>Editar Viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #viajeForm="ngForm" (ngSubmit)="editarViaje(viajeForm)">

    <ion-item>
      <ion-label position="stacked">Establece la ubicación del viaje</ion-label>
      <div style="width: 100%; margin-top: 10px;">
        <app-dirrecion-viaje [nuevoViaje]="nuevoViaje" [info]="this.info"></app-dirrecion-viaje> 
      </div>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Destino</ion-label>
      <ion-input name="destino" required [(ngModel)]="nuevoViaje.destino"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Asientos Libres</ion-label>
      <ion-input name="asientos" required type="number" [(ngModel)]="nuevoViaje.asientos"></ion-input>
    </ion-item>

    <ion-item>
      <ion-select name="vehiculo" [(ngModel)]="nuevoViaje.vehiculo"> Seleccione su vehiculo
        <ion-select-option *ngFor="let vehiculo of vehiculos; let i = index"  [value]="vehiculo.id"> 
          {{ vehiculo.modelo }} - Patente: {{ vehiculo.patente }} 
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-textarea name="descripcion" required [(ngModel)]="nuevoViaje.descripcion"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Precio por asiento</ion-label>
      <ion-input name="precio" required type="number" [(ngModel)]="nuevoViaje.precio"></ion-input>
    </ion-item>



    <ion-button expand="full" type="submit" [disabled]="viajeForm.invalid">Guardar</ion-button>
  </form>

</ion-content>
