<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button defaultHref="inicio" slot="start"></ion-back-button>
    <ion-title>Registro Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list class="ion-padding">
    <form #miForm="ngForm" (ngSubmit)="agregarUsuario(miForm)">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label> <br>
        <ion-input name="username" required placeholder="Ingrese su nombre" [(ngModel)]="nuevoUsuario.username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Correo</ion-label> <br>
        <ion-input name="correo" required type="email" placeholder="Ingrese su Correo" [(ngModel)]="nuevoUsuario.correo"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label> <br>
        <ion-input name="password" required type="password" placeholder="Ingrese Contraseña" minlength="6" [(ngModel)]="nuevoUsuario.password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Rut</ion-label> <br>
        <ion-input name="rut" required placeholder="Ingrese su Rut" [(ngModel)]="nuevoUsuario.rut"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Celular</ion-label> <br>
        <ion-input name="celular" required placeholder="Ingrese su Numero Celular" [(ngModel)]="nuevoUsuario.celular"></ion-input>
      </ion-item>
      <br>
      <ion-button type="submit" expand="block" fill="solid" color="primary">
        Registrar
      </ion-button>

      
    </form>
    
  </ion-list>
</ion-content>
