<meta name="apple-mobile-web-app-capable" content="yes"/>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button defaultHref="home" slot="start"></ion-back-button>
    <ion-icon slot="end" name="person" routerDirection="root" routerLink="/registro"></ion-icon>
    <ion-title>Detalle del Viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div *ngIf="viajee">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Destino: {{ viajee.destino }}
        </ion-card-title>
        <ion-card-subtitle>
          Asientos libres: {{ viajee.asientos }}
        </ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Descripción</ion-card-title>
        <br>
        <ion-item>
          <ion-label position="stacked">Ver la ubicación del viaje</ion-label>
          <div style="width: 100%; margin-top: 10px;">
            <app-dirrecion-viaje [nuevoViaje]="this.viajee" [info]="this.info"></app-dirrecion-viaje> 
          </div>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        <div *ngIf="vehiculo; else loadingVehiculo">
          <ion-item>
            <ion-label>
              Vehículo: {{ vehiculo.modelo }}
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              Asientos disponibles: {{ viajee.asientos }}
            </ion-label>
          </ion-item>
        </div>
        <ng-template #loadingVehiculo>
          <p>Cargando información del vehículo...</p>
        </ng-template>
        <br>
        <p>{{ viajee.descripcion }}</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Precio por asiento</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-card-subtitle>
          ${{ viajee.precio }}
        </ion-card-subtitle>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-button *ngIf="!viajeEnHistorial; else pagado" expand="block" fill="solid" color="primary" (click)="irAPago()">
    Pagar
  </ion-button>

  <ng-template #pagado>
    <div>
      <ion-card>
        <ion-card-content>
          <ion-text>Ya se se encuentra registrado a este viaje </ion-text>
        </ion-card-content>
      </ion-card>
    </div>
  </ng-template>
</ion-content>
