<meta name="apple-mobile-web-app-capable" content="yes"/>

<ion-header>
  <ion-toolbar>
    <ion-back-button defaultHref="inicio" slot="start"></ion-back-button>
    <ion-title size="medium" class="ion-padding">Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <!-- Card para Recuperar Contraseña -->
  <ion-card class="ion-margin-top">
    <ion-card-header color="light">
      <ion-card-title>Recuperar Contraseña</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form #miForm="ngForm" (ngSubmit)="enviar(miForm)">
        <ion-text class="ion-margin-bottom">
          Ingrese su correo para recuperar su contraseña
        </ion-text>
        
        <ion-item lines="none" class="ion-margin-top">
          <ion-label position="floating">Correo Electrónico</ion-label> <br>
          <ion-input
            id="correoInput"
            name="correo"
            type="email"
            placeholder="Ingrese su Correo"
            required
            [(ngModel)]="usr.correo"
            errorText="Ingrese correo válido">
          </ion-input>
        </ion-item>

        <ion-button type="submit" expand="block" class="ion-margin-top" color="primary">
          Recuperar
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>

  <!-- Card para Cambiar Contraseña (visible solo si cambio es true) -->
  <ion-card *ngIf="cambio" class="ion-margin-top">
    <ion-card-header color="light">
      <ion-card-title>Cambiar Contraseña</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form #contra="ngForm" (ngSubmit)="cambiarContrasena(contra)">
        <ion-text class="ion-margin-bottom">
          Ingrese el código que se le envió y complete el formulario para cambiar su contraseña
        </ion-text>

        <ion-item lines="none" class="ion-margin-top">
          <ion-label position="floating">Código</ion-label> <br>
          <ion-input
            id="codigoInput"
            name="codigo"
            type="number"
            placeholder="Ingrese el código"
            minlength="6"
            maxlength="6"
            required
            [(ngModel)]="codigo">
          </ion-input>
        </ion-item>

        <ion-item lines="none" class="ion-margin-top">
          <ion-label position="floating">Nueva Contraseña</ion-label> <br>
          <ion-input
            id="password"
            name="password"
            type="password"
            placeholder="Ingrese Contraseña"
            minlength="6"
            required
            [(ngModel)]="usr.password">
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-item>

        <ion-item lines="none" class="ion-margin-top">
          <ion-label position="floating">Confirmar Contraseña</ion-label> <br>
          <ion-input
            id="confirmPass"
            name="confirmPass"
            type="password"
            placeholder="Confirme Contraseña"
            minlength="6"
            required
            [(ngModel)]="confirmPass">
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-item>

        <ion-button expand="block" type="submit" class="ion-margin-top" color="primary">
          Cambiar contraseña
        </ion-button>

        <!-- Mensaje de error si hay problemas -->
        <ion-text color="danger" *ngIf="errorMensaje" class="ion-margin-top">
          <p>{{ errorMensaje }}</p>
        </ion-text>
      </form>
    </ion-card-content>
  </ion-card>

</ion-content>
