<ion-header>
  <ion-toolbar>
    <ion-back-button defaultHref="inicio" slot="start"></ion-back-button>
    <ion-title size="large" class="ion-padding">Restablecer Contraseña</ion-title>
</ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
       <ion-title size="large" class="ion-padding">Restablecer <br> Contraseña</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <form #miForm="ngForm" (ngSubmit)="enviar(miForm)">
    <ion-item lines="none">
      <ion-text>
        Ingrese su correo para recuperar su contraseña
      </ion-text>
    </ion-item>
    <br>
    <ion-item>
      <ion-input name="correo" required type="email" label="Correo" placeholder="Ingrese su Correo" 
                 helperText="Ingrese correo" errorText="Ingrese correo válido" 
                 [(ngModel)]="usr.correo" email>
      </ion-input>
    </ion-item>
    <br>
    <ion-button type="submit" expand="full">Recuperar</ion-button>
  </form>
</ion-content>
