<meta name="apple-mobile-web-app-capable" content="yes"/>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title size="large">
      {{ sesion.isLoggedIn() ? 'Perfil de Usuario' : 'Iniciar Sesión' }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngIf="sesion.isLoggedIn(); else loginForm">
    <ion-list class="ion-padding">
      <ion-item>
        <ion-label>Nombre de usuario</ion-label>
        <ion-text>{{ sesion.getUser()?.username }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Correo</ion-label>
        <ion-text>{{ sesion.getUser()?.correo }}</ion-text>
      </ion-item>
      <ion-button expand="block" color="danger" (click)="logout()">
        Cerrar sesión
      </ion-button>
    </ion-list>
  </ng-container>

  <ng-template #loginForm>
    <ion-list class="ion-padding">

      <ion-text *ngIf="!isOnline">
        <strong>
          Sin tener conexion a internet no se puede logear
        </strong>
      </ion-text>
      
      <form #inicioForm="ngForm" (ngSubmit)="enviar(inicioForm)">
        <ion-item>
          <ion-input required mode="ios" label="Nombre" labelPlacement="fixed"
                     placeholder="Ingrese su usuario" name="usuario" [(ngModel)]="usr.username">
          </ion-input>
        </ion-item>
        
        <br>

        <ion-item>
          <ion-input required mode="ios" type="password" labelPlacement="fixed" label="Contraseña" placeholder="Ingrese Contraseña"
                     name="pass" [(ngModel)]="usr.password" minlength="6">
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-item>

        <ion-item lines="none" *ngIf="isOnline; else notnet">
          <ion-text color="secondary" routerLink="/olvido">¿Olvidó su contraseña?</ion-text>
        </ion-item>

        <ng-template #notnet>
          <ion-item lines="none" >
            <ion-text color="secondary" >¿Olvidó su contraseña?</ion-text>
          </ion-item>
        </ng-template>
        
        <br>
        <ion-button type="submit" expand="block" fill="solid" color="primary" [disabled]="inicioForm.invalid" [disabled]="!isOnline">
          Iniciar Sesión
        </ion-button>
        <ion-button expand="block" fill="solid" color="tertiary" href="registro" [disabled]="!isOnline">
          Registrar
        </ion-button>
      </form>
    </ion-list>
  </ng-template>
</ion-content>
