.titulo-viaje, .titulo-historial {
    margin-top: 10px; 
    margin-bottom: 10px;
    padding-left: 16px;
    font-weight: bold;
    font-size: 18px;
  }
  
  ion-card {
    margin-bottom: 20px;
  }
  