<meta name="apple-mobile-web-app-capable" content="yes"/>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button> </ion-menu-button>
    </ion-buttons>
    <ion-icon slot="end" name="person"  routerDirection="root" routerLink="/inicio" ></ion-icon>
    <ion-title>Registrar Vehiculo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #vehiculoForm="ngForm" (ngSubmit)="agregarVehiculo(vehiculoForm)">
    <ion-item>
      <ion-label position="floating">Tipo de Vehículo</ion-label>
      <ion-input name="vehiculo" required [(ngModel)]="nuevoVehiculo.tipo" errorText="Campo obligatorio"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Modelo</ion-label>
      <ion-input name="modelo" required [(ngModel)]="nuevoVehiculo.modelo" errorText="Campo obligatorio"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Patente</ion-label>
      <ion-input name="patento" maxlength="6" minlength="6" required [(ngModel)]="nuevoVehiculo.patente" errorText="Patente demasiado corta" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Color</ion-label>
      <ion-textarea name="descripcion" required [(ngModel)]="nuevoVehiculo.color" errorText="Campo obligatorio"></ion-textarea>
    </ion-item>


    <ion-button expand="full" type="submit">Agregar Vehiculo</ion-button>
  </form>
</ion-content>
