<meta name="apple-mobile-web-app-capable" content="yes"/>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Gestión de Viajes</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/inicio">
        <ion-icon name="person" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Gestión de Viajes</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="viajes && viajes.length > 0; else sinViajes">
    <ion-list lines="none">
      <ion-item *ngFor="let viaje of viajes; let i = index" [class.active]="viaje.activo">
        <ion-card mode="md" class="viaje-card">

          <ion-card-header>
            <ion-card-title class="viaje-destino">{{ viaje.destino }}</ion-card-title>
            <ion-card-subtitle class="viaje-asientos">{{ viaje.asientos }} asientos libres</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <p class="viaje-descripcion">
              <strong>Descripción:</strong> {{ viaje.descripcion }}
            </p>
            <p class="viaje-precio">
              <strong>Precio por asiento:</strong> ${{ viaje.precio }}
            </p>

            <div class="viaje-actions">
              
              <div class="action-row">
                <ion-button size="small" color="primary" (click)="editarViaje(viaje)">
                  <ion-icon name="create-outline" slot="start"></ion-icon>
                  Editar
                </ion-button>
                <ion-button size="small" color="danger" (click)="eliminarViaje(viaje)">
                  <ion-icon name="trash-outline" slot="start"></ion-icon>
                  Eliminar
                </ion-button>
              </div>

              <div class="action-row iniciar-button">
                <ion-button expand="block" size="small" color="success" (click)="iniciarViaje(viaje)">
                  <ion-icon name="play-outline" slot="start"></ion-icon>
                  Iniciar
                </ion-button>
              </div>

            </div>
          </ion-card-content>

        </ion-card>
      </ion-item>
    </ion-list>
  </div>

  <ng-template #sinViajes>
    <div class="no-viajes">
      <ion-icon name="help-circle-outline" size="large"></ion-icon>
      <p>No ha realizado viajes o no ha iniciado sesión</p>
    </div>

    <ion-list *ngIf="!loaded">
      <ion-item *ngFor="let _ of [1, 2, 3]">
        <ion-thumbnail slot="start">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-template>

</ion-content>
