<meta name="apple-mobile-web-app-capable" content="yes"/>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-icon slot="end" name="person"  routerDirection="root" routerLink="/inicio"></ion-icon>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">home</ion-title>
    </ion-toolbar>
  </ion-header>

<!-- Busqueda -->
<ion-searchbar (ionInput)="handleInput($event)" placeholder="Busqueda por destino"> </ion-searchbar>

<ion-list *ngIf="query.length > 0 && results.length > 0"> 
  <ion-item *ngFor="let viaje of results">
    {{ viaje.destino }} - {{ viaje.vehiculo }} - <br>
    asientos: {{ viaje.asientos }} - Precio: ${{ viaje.precio }} 
    <ion-button fill="clear" slot="end" (click)="irADetalle(viaje)">
      Detalle
    </ion-button>
  </ion-item>
</ion-list>

<!-- card 3 -->
  <div *ngFor="let viaje of viajes; let i = index">
    <ion-card mode="md">
      <ion-card-header>
        <ion-card-title>{{ viaje.destino }}</ion-card-title>
        <ion-card-subtitle>{{ viaje.asientos }} asientos libres, {{ viaje.vehiculo }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{ viaje.descripcion }}
        <br>
        Precio por asiento: ${{ viaje.precio }}
      </ion-card-content>
      <ion-button fill="clear" (click)="irADetalle(viaje)">Detalle</ion-button>
    </ion-card>
  </div>


</ion-content>
