<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-icon slot="end" name="person" routerDirection="root" routerLink="/inicio"></ion-icon>
    <ion-title>Proceder con el pago</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Proceder con el pago</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngIf="viaje">
    <ion-card-header>
      <ion-card-title>{{ viaje.destino }}</ion-card-title>

    </ion-card-header>
    <ion-card-content>
      <p>{{ viaje.descripcion }}</p>
      Precio: ${{ viaje.precio }}
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" fill="solid" color="primary">
    Confirmar Pago
  </ion-button>
</ion-content>
