<meta name="apple-mobile-web-app-capable" content="yes"/>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button defaultHref="home" slot="start"></ion-back-button>
    
    <ion-icon slot="end" name="person" routerDirection="root" routerLink="/inicio"></ion-icon>
    <ion-title>Proceder con el pago</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">


  <ion-card *ngIf="viaje">
    <ion-card-header>
      <ion-card-title>{{ viaje.destino }}</ion-card-title>

    </ion-card-header>
    <ion-card-content>
      <p>{{ viaje.descripcion }}</p>
      Precio: ${{ viaje.precio }}
    </ion-card-content>
  </ion-card>
  
  <br>
  <div>
    <ion-text>
      Seleccione método de pago:
    </ion-text>
  </div>

  <br> <br>

  <form #pagoForm="ngForm" (ngSubmit)="cancelarPago(pagoForm)" *ngIf="!this.enviando else Enviando">

    <ion-item>
      <ion-label>Elija una opción </ion-label>
      <ion-select name="pago" [(ngModel)]="pago" required interface="popover">
        <ion-select-option value="Tarjeta">
          Tarjeta
        </ion-select-option>
        <ion-select-option value="Efectivo">
          Efectivo
        </ion-select-option>
      </ion-select>
    </ion-item>
    

    <ion-button type="submit" expand="block" fill="solid" color="primary" [disabled]="!pagoForm.valid">
      Confirmar Pago
    </ion-button>
    
  </form>

  <ng-template #Enviando>
    <ion-card>
      <ion-card-content>
        Se esta cargando la informacion 
      </ion-card-content>
    </ion-card>
  </ng-template>

</ion-content>
