<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button defaultHref="home" slot="start"></ion-back-button>
    
    <ion-icon slot="end" name="person" routerDirection="root" routerLink="/inicio"></ion-icon>
    <ion-title>Proceder con el pago</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">


  <ion-card *ngIf="viaje">
    <ion-card-header>
      <ion-card-title>{{ viaje.destino }}</ion-card-title>

    </ion-card-header>
    <ion-card-content>
      <p>{{ viaje.descripcion }}</p>
      Precio: ${{ viaje.precio }}
    </ion-card-content>
  </ion-card>
  
  <br>
  
  <ion-text>
    Seleccione metodo de pago
  </ion-text>

  <form #pagoForm="ngForm" (ngSubmit)="cancelarPago(pagoForm)">

    <ion-item>
      <ion-select name="pago" [(ngModel)]="pago"> Seleccione su metodo de pago
        <ion-select-option value="Tarjeta"> 
          Tarjeta 
        </ion-select-option>

        <ion-select-option value="Efectivo"> 
          Efectivo
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button type="submit" expand="block" fill="solid" color="primary">
      Confirmar Pago
    </ion-button>
  </form>
</ion-content>
